[Unit]
Description=Home automation software
Documentation=http://docs.openhab.org
Documentation=https://community.openhab.org
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/default/openhab
User=openhab
Group=openhab
WorkingDirectory=/usr/share/openhab
#PermissionsStartOnly=true
#ExecStartPre=/usr/share/openhab/bin/setpermissions.sh
ExecStart=/usr/share/openhab/start.sh server
ExecStop=/usr/share/openhab/runtime/bin/stop
# Shutdown delay in seconds, before process is tried to be killed with KILL (if configured)
TimeoutStopSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
